button.dots {
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
}
button.dots:focus {
outline: none;
}

.dots .dot,
.dots .close
{
    position: absolute;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.dots .dot,
.dots.open .close{
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    visibility: visible;
}

.dots .close,
.dots.open .dot{
    visibility: hidden;
    -webkit-transform: rotate(90deg) scale(0);
            transform: rotate(90deg) scale(0);
}