.CardHeader{
    padding: 14px 0px 14px 36px;
}
.gridWrapper{
    display: grid;
    grid-template-columns: 80% 20%;
}
.CardHeader p{
    text-align: left;
    padding: 0px;
    margin-top: 0em;
    margin-bottom:-0.1em;
}
.CardTitle{
    font-weight: 600;
    font-size: medium;
}
.CardDate{
    font-weight: 300;
    color: dimgray;
    font-size: small;
}



.CardContent p{
    padding: 14px 36px;
    text-align: left;
    margin: 0px;
}

img{
    max-width: 100%;
    max-height: 100%;
}


.RecipeCard{
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    margin: 1em;
    width: 25em;

}

@media(max-width: 15em){
    .UserOutput{
        margin: 10px;
        max-width: 15em;
    }
} 